<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.werb.pickphotoview">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name="stream.pickphotoview.PickPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PickAppThemeBottom"/>

        <activity android:name="stream.pickphotoview.PickListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PickAppThemeRight"/>

        <activity android:name="stream.pickphotoview.PickPhotoPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PickAppThemeRight"/>

    </application>

</manifest>
